0.bin
sl_coff.bin
sl_coff.coff
sl_coff.iso
sl_coff.cue
sl_coff.map
game.bin
game.coff
game.elf
game.iso
game.cue
game.map
/jo_engine/*.o
/Projects/*/*.o
bios.bin
logs.txt

/Projects/*/
/Projects/*.zip
/Projects/*.7z

FAQ.TXT

.idea/